@charset "UTF-8";
:root {
  --screen-width: 100%;
  --screen-height: 100%;
  --splash-bg-color: rgba(158, 38, 20, 1);
}
#mobile-nav {
  height: 0;
}
#desktop-nav {
  display: none;
}
.nav__toggle {
  display: inline-block;
  position: absolute;
  z-index: 10;
  padding: 0;
  border: 0;
  background: transparent;
  outline: 0;
  right: 15px;
  top: 15px;
  cursor: pointer;
  border-radius: 50%;
  -webkit-transition: background-color .15s linear;
  transition: background-color .15s linear;
}
.nav__toggle:hover, .nav__toggle:focus {
  /* background-color: rgba(0, 0, 0, 0.5); */
}
.nav__menu {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  height: var(--screen-height);
  position: relative;
  z-index: 5;
  visibility: hidden;
}
.nav__item {
  opacity: 0;
  -webkit-transition: all 0.3s cubic-bezier(0, 0.995, 0.99, 1) 0.3s;
  transition: all 0.3s cubic-bezier(0, 0.995, 0.99, 1) 0.3s;
}
.nav__item:nth-child(1) {
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}
.nav__item:nth-child(2) {
  -webkit-transform: translateY(-80px);
          transform: translateY(-80px);
}
.nav__item:nth-child(3) {
  -webkit-transform: translateY(-120px);
          transform: translateY(-120px);
}
.nav__item:nth-child(4) {
  -webkit-transform: translateY(-160px);
          transform: translateY(-160px);
}
.nav__item:nth-child(5) {
  -webkit-transform: translateY(-200px);
          transform: translateY(-200px);
}
.nav__link {
  color: white;
  display: block;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1.25rem;
  text-decoration: none;
  padding: 1rem;
}
.nav__link:hover, .nav__link:focus {
  outline: 0;
  background-color: #F4725F;
}

.menuicon {
  display: block;
  cursor: pointer;
  color: black;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.menuicon__bar, .menuicon__circle {
  fill: none;
  stroke: currentColor;
  stroke-width: 3;
  stroke-linecap: round;
}
.menuicon__bar {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform .25s ease-in-out;
  transition: -webkit-transform .25s ease-in-out;
  transition: transform .25s ease-in-out;
  transition: transform .25s ease-in-out, -webkit-transform .25s ease-in-out;
}
.menuicon__circle {
  -webkit-transition: stroke-dashoffset .3s linear .1s;
  transition: stroke-dashoffset .3s linear .1s;
  stroke-dashoffset: 144.513262038;
  stroke-dasharray: 144.513262038;
}

.splash {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 1px;
  height: 1px;
}
.splash::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  background-color: var(--splash-bg-color);
  width: 284vmax;
  height: 284vmax;
  top: -142vmax;
  left: -142vmax;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  transition: -webkit-transform 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  transition: transform 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  transition: transform 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06), -webkit-transform 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  will-change: transform;
}

.nav:target > .splash::after,
.nav--open > .splash::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.nav:target .menuicon,
.nav--open .menuicon {
  color: white;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.nav:target .menuicon__circle,
.nav--open .menuicon__circle {
  stroke-dashoffset: 0;
}
.nav:target .menuicon__bar:nth-child(1), .nav:target .menuicon__bar:nth-child(4),
.nav--open .menuicon__bar:nth-child(1),
.nav--open .menuicon__bar:nth-child(4) {
  opacity: 0;
}
.nav:target .menuicon__bar:nth-child(2),
.nav--open .menuicon__bar:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.nav:target .menuicon__bar:nth-child(3),
.nav--open .menuicon__bar:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.nav:target .nav__menu,
.nav--open .nav__menu {
  visibility: visible;
}
.nav:target .nav__item,
.nav--open .nav__item {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.no-scroll {
  overflow: hidden;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}
ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#mobile-header {
  text-align: center;
  padding: 20px 0;
}
#desktop-header {
  display: none;
}
#mobile-header .logo img {
  width: 100px;
}
.title {
  margin: 10px 0;
  color: #006B82;
  letter-spacing: 1px;
}
.desc {
  font-weight: 700;
  color: #ED3A1E;
}
.address {
  margin-top: 20px;
}
.address a {
  color: #4F130A;
  text-decoration: none;
}
.phone-nmb {
  margin: 10px 0 30px 0;
}
.phone-nmb a {
  color: #4F130A;
  text-decoration: none;
}
.soc-med-icon {
  display: inline-block;
  padding: 0 10px;
}
.soc-med-icon img {
  width: 40px;
  height: 40px;
}
#yelp-button img {
  width: 140px;
}
.page-desc {
  text-align: center;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay {
  background: rgb(51, 51, 51, 0.26);
  z-index: 2;
}
#home {
  background-image: url("../assets/img/hero-banner.webp");
  background-color: rgb(51, 51, 51);
  height: 300px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#home h1 {
  color: #F39789;
  font-size: 30px;
  letter-spacing: 1px;
}
.page-desc p {
  line-height: 1.5;
}
#home p {
  margin-bottom: 40px;
  color: white;
}
#home .button {
  background-color: rgba(158, 38, 20, 1);
  padding: 15px 40px;
  color: white;
  font-size: 16px;
  text-decoration: none;
}
#hours {
  text-align: center;
  padding: 20px 30px;
  background-image: url("../assets/img/candles.webp");
  background-color: black;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 360px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
#hours h1 {
  margin: 15px 0;
  font-size: 26px;
}
#hours i {
  font-size: 60px;
}
#hours li {
  padding-top: 10px;
  font-size: 18px;
}
#offers {
  text-align: center;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#offers h1 {
  color: #ED3A1E;
  font-size: 26px;
}
#offers p {
  line-height: 1.5;
}
.offer-section h2 {
  color: #08A316;
  font-size: 22px;
}
#banner-img {
  background-image: url("../assets/img/massage-oil.webp");
  background-color: black;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}
#services {
  background-color: #F2F2F2;
  padding: 20px 30px;
}
#services h2 {
  color: #9E2614;
}
#services a {
  font-size: 24px;
  font-weight: 700;
  color: #4F130A;
  text-decoration: none;
  line-height: 2;
}
#service-type {
  background-color: #F2F2F2;
}
#service-type article:not(:first-child) {
  margin-top: 40px;
}
.massage-tile {
  text-align: center;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}
.massage-img {
  width: 306px;
}
.massage-tile h3 {
  font-weight: 400;
  font-size: 22px;
  color: #4F130A;
}
.massage-desc {
  color: #577083;
}
.duration {
  color: #333333;
  font-size: 18px;
}
.price {
  color: #8B0000;
  font-weight: 700;
  font-size: 24px;
  margin: 0;
}
.massage-desc .price {
  font-size: 24px;
  font-weight: 700;
}
#the-spa h2 {
  color: #9E2614;
}
.gallery__item:hover {
  opacity: 0.7;
  cursor: pointer;
}
.modal {
  display: none;
  position: fixed;
  z-index: 20;
  padding-top: 30%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0,0,0,0.9);
}
.modal-content {
  margin: auto;
  display: block;
  /* width: 80%;
  max-width: 700px; */
  height: 50%;
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}
@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  padding: 20px;
  color: white;
  font-size: 30px;
  transition: 0.6s ease;
  user-select: none;
  -webkit-user-select: none;
}
.next {
  right: 0;
}
.prev {
  left: 0;
}
#spa-grid {
  text-align: center;
  display: grid;
  grid-template-columns:repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 300px;
  grid-gap:20px;
  margin: 0 30px 20px 30px;
}
#spa-grid .gallery__item {
  height: 100%;
  background-color: #ebebeb;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  object-fit: cover;
}
#spa-grid .gallery__item img {
  max-height: 100%;
}
#show-more-link {
  text-align: center;
  margin-bottom: 20px;
}
#show-more-link a {
  color: #4F130A;
  text-decoration: none;
}
#about-us {
  background-color: #F2F2F2;
  padding: 20px 30px;
}
#header-img1 {
  background-image: url("../assets/img/thai-temple.webp");
  background-color: black;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}
#header-img2 {
  background-image: url("../assets/img/flower.webp");
  background-color: black;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  margin-bottom: 20px;
}
#about-us h2 {
  color: #9E2614;
}
#yelp-button img {
  margin-top: 20px;
}
#about-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(19, 5vw);
  grid-gap: 15px;
  margin: 0 20px 20px 20px;
  justify-content: center;
}
#about-grid .gallery__item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #ebebeb;
  display: block;
}
#gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 8;
}
#gallery__item--2 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 4;
}
#gallery__item--3 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}
#gallery__item--4 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 8;
}
#gallery__item--5 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 8;
  grid-row-end: 15;
}
#gallery__item--6 {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 8;
  grid-row-end: 15;
}
#gallery__item--7 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 12;
}
#gallery__item--8 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 15;
  grid-row-end: 20;
}
#gallery__item--9 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 15;
  grid-row-end: 20;
}
#gallery__item--10 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 12;
  grid-row-end: 20;
}
footer {
  text-align: center;
  padding: 20px 0;
  background-color: #ebebeb;
}
#desktop-soc-med-icons {
  display: none;
}
#copyright {
  margin-bottom: 5px;
}
#copyright a {
  color: #4F130A;
  text-decoration: none;
}
#footer-phone a {
  color: #4F130A;
  text-decoration: none;
}

@media screen and (min-width: 1024px) {
  #mobile-nav {
    display: none;
  }
  #desktop-nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
  }
  #mobile-header {
    display: none;
  }
  #desktop-header {
    display: grid;
    grid-template-columns: 120px auto 230px;
    grid-template-rows: 150px;
    padding: 30px;
  }
  #grid__item--1 {
    align-self: center;
    grid-column: 1;
  }
  #grid__item--2 {
    align-self: center;
    grid-column: 2;
    margin-left: 15px;
  }
  #grid__item--3 {
    align-self: center;
    grid-column: 3;
    text-align: right;
  }
  #desktop-header .logo img {
    width: 120px;
  }
  #desktop-header .title {
    font-size: 50px;
    margin: 0;
  }
  #desktop-header .desc {
    font-size: 20px;
    margin-top: 15px;
  }
  #desktop-header .address {
    margin: 0;
  }
  #desktop-header  .phone-nmb {
    margin: 10px 0 0 0;
  }
  #desktop-nav .nav__link {
    color: black;
    font-size: 14px;
    width: 160px;
    letter-spacing: 1px;
  }
  #desktop-nav .nav__link:hover {
    color: white;
  }
  #desktop-nav .active {
    background-color: rgba(158, 38, 20, 1);
    color: white;
  }
  #home {
    height: 700px;
    background-size: auto;
  }
  #home {
    background-size: cover;
    justify-content: flex-end;
    padding: 0 40px;
  }
  #home #content{
    text-align: left;
    width: 600px;
  }
  #home h1 {
    font-size: 50px;
    margin: 0;
  }
  #home p {
    font-size: 20px;
  }
  #home .button {
    padding: 20px 65px;
  }
  #hours {
    height: 500px;
  }
  #hours i {
    display: inline-block;
    vertical-align: middle;
    padding-right: 15px;
    font-size: 50px;
  }
  #hours h1 {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    font-size: 40px;
  }
  #hours ul {
    margin-top: 30px;
  }
  #hours li {
    font-size: 20px;
  }
  .grid-inline {
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: 490px;
  }
  #banner-img {
    height: 490px;
  }
  #services h2 {
    font-size: 45px;
  }
  #services p {
    width: 600px;
  }
  #service-type {
    display: grid;
    grid-template-columns: 340px 340px 340px;
    grid-template-rows: auto auto;
    justify-items: center;
    justify-content: center;
    padding: 0 0 40px;
  }
  .massage-tile {
    width: 300px;
    padding: 0;
    margin-bottom: 30px;
  }
  .massage-img {
    width: 300px;
  }
  .massage-tile p {
    padding: 0 15px;
  }
  .massage-tile .price {
    margin-bottom: 25px;
  }
  #service-type article:not(:first-child) {
    margin-top: 0;
  }
  #spa-grid {
    grid-template-columns: 230px 230px 230px 230px;
    justify-content: center;
    justify-items: center;
    margin-bottom: 60px;
  }
  #the-spa h2 {
    font-size: 45px;
  }
  #the-spa p {
    width: 590px;
    margin-bottom: 40px;
  }
  #about-inline {
    display: grid;
    grid-template-columns: auto 40% auto;
    grid-template-rows: 500px;
    margin-bottom: 60px;
  }
  #header-img1 {
    height: 500px;
  }
  #header-img2 {
    height: 500px;
  }
  #about-us h2 {
    font-size: 45px;
    margin: 20px 0;
  }
  #about-us p {
    width: 430px;
  }
  #about-grid {
    margin: 0 auto 60px;
    max-width: 1600px;
  }
  footer {
    padding: 30px 0 50px;
  }
  #desktop-soc-med-icons {
    display: block;
    margin-bottom: 30px;
  }
  .soc-med-icon img {
    width: 50px;
    height: 50px;
  }
  #copyright {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 0;
  }
  #footer-phone {
    display: inline-block;
    margin-left: 15px;
  }
  .modal {
    padding-top: 340px;
  }
}

@media screen and (min-width: 1900px) {
  #home {
    height: 900px;
  }
  #home #content {
    margin-right: 15%;
  }
}
